<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.zankio.cculife"
    android:versionCode="27"
    android:versionName="2.0.8">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk tools:overrideLibrary="android.support.customtabs"/>

    <application
        android:name=".CCULifeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NewAppTheme">
        <activity
            android:name=".ui.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ecourse.CourseActivity"
            android:label="@string/title_activity_course" />
        <activity
            android:name=".ui.course.schedule.CourseTimeTableActivity"
            android:label="@string/title_activity_course_schedule"/>
        <activity
            android:name=".ui.score.ScoreQueryActivity"
            android:label="@string/title_activity_score"/>
        <activity
            android:name=".ui.ccu.calendar.CCUScheduleActivity"
            android:label="@string/title_activity_ccuschedule"/>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name=".ui.UpdateUI"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppDialog"/>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about">
            <intent-filter>
                <action android:name="org.zankio.cculife.ui.AboutActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.transport.TransportActivity"
            android:label="@string/transport"/>

        <service
            android:name=".services.DownloadService"
            android:exported="false" />
        <service
            android:name=".services.FileOpenService"
            android:exported="false" />
        <service
            android:name=".services.CheckUpdateService"
            android:exported="false" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3dae68a28052d10a443a222bd0582019fb8f0947" />
    </application>

</manifest>
